
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="main">
    <h2>@ViewBag.Message</h2>

    <address>
        Fırat Üniversitesi<br />
        Elazığ/Merkez<br />
        <abbr title="Telefon">P:</abbr>
        0555 252 85 96
    </address>

    <address>
        <strong>Destek:</strong>   <a href="hazeloktay@gmail.com">hazeloktay@gmail.com</a><br />
    </address>
</div>