@model BlogMVC.Models.ModelView.TextEditModel
@{
    ViewBag.Title = "TextEdit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@if (Session["Username"] == null)
{
    HttpContext.Current.Response.Redirect("/Admin/Login");
}
else
{
    <section id="main-content">
        <section class="wrapper">
            <h3><i class="fa fa-angle-right"></i> Yeni Yazı Ekle</h3>

            <!-- BASIC FORM ELELEMNTS -->
            <div class="row mt">
                <div class="col-lg-12">
                    <div class="form-panel">


                        <input class="form-control title" text" value="@Model.text.Title" name="@Model.title" /> <br />
                        <textarea class="form-control desc">@Model.text.Description</textarea><br />

                        <button class="btn btn-block btnUpdate" name="@Model.text.ID">GÜNCELLE</button> <br />

                        <div class="alert alert-success result"></div>


                    </div>
                </div><!-- col-lg-12-->
            </div><!-- /row -->
        </section>
    </section>
}

@section scripts{


    <script type="text/javascript">
        $(document).ready(function () {
            $('.result').hide();
            $(".btnUpdate").click(function () {

                var ID = $(this).attr("name");

                $.ajax({
                    url: '/Admin/TextUpdate',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        'id': ID,
                        'title': $('.title').val(),
                        'description':$('.desc').val(),
                    },
                    success: function (data) {
                        $('.result').show();
                        $('.result').text("Güncellendi...");
                    },
                    error: function (hata, ajaxOptions, thrownError) {
                        alert(hata.status);
                        alert(thrownError);
                        alert(hata.responseText);
                    }
                });
            });


        });

    </script>
}