@model BlogMVC.Models.ModelView.TextAddModel
@{
    ViewBag.Title = "TextAdd";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@if (Session["Username"] == null)
{
    // Giriş yapılmamış ise Login Sayfasına yönlendiriyoruz...
    HttpContext.Current.Response.Redirect("/Admin/Login");
}
else
{
    <section id="main-content">
        <section class="wrapper">
            <h3><i class="fa fa-angle-right"></i> Yeni Yazı Ekle</h3>

            <!-- BASIC FORM ELELEMNTS -->
            <div class="row mt">
                <div class="col-lg-12">
                    <div class="form-panel">
                        @using (Ajax.BeginForm("TextAdd", "Admin", FormMethod.Post, new AjaxOptions() { OnSuccess = "success" }, new { @class = "form-horizontal style-form" }))
                        {
                            @Html.TextBoxFor(m => m.title, new { @class = "form-control", @type = "text", @placeholder = "Başlık" }) <br />
                            @Html.TextAreaFor(m => m.text, new { @class = "form-control text", @type = "text", @placeolder = "Yazı" })<br />
                            @Html.DropDownListFor(m => m.kategori, Model.CategoriItems, new { @class = "form-control" }) <br />
                            <button type="submit" class="btn btn-block btn-primary">EKLE</button>
                        }

                            
                    </div>
                </div><!-- col-lg-12-->
            </div><!-- /row -->
        </section>
    </section>
}

    <script type="text/javascript">
        var success = function (data) {
            $.alert({
                title: 'Başarılı!',
                content: data,
                theme: 'modern',
                type: 'green',
                icon: 'fa fa-check'
            });
        }

    </script>
